@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #343a40;
}

.open {
  overflow: hidden;
}

.contactStyle {
  background-color: #6c757d;
}

.removeStyle {
  background-color: unset;
}
